button {
  border: none;
  background-color: #FCF2F6;
  font-size: 30px;
  color: black;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
  transition: all .3s ease-in-out;
}

button:hover {
  background-color: #FFD9E3
}

.equals {
  /* grid-column: 1 / 3; */
  background-color: #FFD9E3;
}

.ac {
  background-color: #D9F8FF;
}

.symbol {
  background-color: #D9D9D9;
}

.zero {
  grid-column: 1 / 3;
}


.equals:hover {
  background-color: #D9F8FF;
}