.screen {
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  padding: 0 10px;
  background-color: #EBB3C2;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  /* font-weight: bold; */
  box-sizing: border-box;
}
