@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;200;300;400;500;600;700&family=Inter:wght@400;500;600;700;800;900&display=swap');

* {
  font-family: 'Inter', sans-serif;
}
.App {
  height: auto;
}

.historyCon {
  width: 400px;
  background-color: white;
  padding: 20px;
  border-radius: 25px;
  margin-bottom: 15vh;
}

.historyCon .title {
  text-align: right;
  margin-bottom: 18px;
  font-size: 32px;
  padding-right: 8px;
  font-weight: 500;
}

.valueBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 25px;
  background-color: #EBB3C2;
  padding: 10px 20px;
  margin-bottom: 20px;
  font-size: 28px;
}

